{#这个HTML页面看起来非常简单，#}
{#唯一值得关注的地方是{{ ... }}。{{ ... }}包含的内容是动态的，#}
{#只有在运行时才知道具体表示成什么样子#}
<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>{{ title }} - Microblog</title>
    {% else %}
        <title>Microblog</title>
    {% endif %}
</head>
<body>
<div><!--导航栏-->
    Microblog:
    {# Flask提供了一个名为url_for()的函数，它使用URL到视图函数的内部映射关系来生成URL #}
    {# 如url_for('login')返回/login，url_for('index')返回/index。 url_for()的参数是endpoint名称，也就是视图函数的名字。#}
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('explore') }}">Explore</a> <!--发现页面-->
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
    {% else %}
        <!--由于这是一个指向当前登录个人主页的链接，我可以使用Flask-Login的current_user对象来生成正确的URL。-->
        <a href="{{ url_for('user',username=current_user.username) }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
</div>
<hr> <!--水平线-->
{# get_flashed_messages()函数返回用flash()注册过的消息列表 #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li> {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>