{% extends 'bootstrap/base.html' %}
{# Flask-Bootstrap派生的基础模板定义了一些块 #}
{# 提供 title<Web标题>、navbar<导航栏>、content<页面>、scripts<js脚本> #}

<!--页面主题-->
{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}{{ _('Welcome to Microblog') }}{% endif %}
{% endblock %}

{% block navbar %} <!--导航栏-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">{{ _('Toggle navigation') }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Microblog</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                    <li><a href="{{ url_for('main.explore') }}">{{ _('Explore') }}</a></li>
                </ul>
                {% if g.search_form %}
                    <form class="navbar-form navbar-left" method="get"
                          action="{{ url_for('main.search') }}">
                        <div class="form-group">
                            {{ g.search_form.q(size=20, class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                        </div>
                    </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.login') }}">{{ _('Login') }}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a>
                        </li>
                        <li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {# get_flashed_messages()函数返回用flash()注册过的消息列表 #}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# 页面 #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}<!--块是Flask-Bootstrap基础模板暴露的一个块-->
    {#    与其他插件不同的是，Flask-Moment与moment.js一起工作，#}
    {#    因此应用的所有模板都必须包含moment.js。为了确保该库始终可用，我将把它添加到基础模板中#}
    {{ super() }}
    {{ moment.include_moment() }} <!--它直接生成了一个<script>标签并在其中包含moment.js：-->
    <script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function (response) {
                $(destElem).text(response['text'])
            }).fail(function () {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }

        /* $('.user_popup')获取这些元素的列表（CSS选择器中，#前缀代表查询id属性，.前缀代表查询class属性）*/
        $(function () { /* 这个函数将在页面加载完成时运行 */
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function (event) {  /* fnOver参数是一个回调函数 表示鼠标移入事件 */
                    var elem = $(event.currentTarget); //使用event.currentTarget来提取事件的目标元素
                    timer = setTimeout(function () { //在悬停事件的一秒钟后被调用
                        timer = null;
                        // 请求弹出窗口要显示的内容
                        // 为了提取用户名，我可以从<span>开始浏览DOM，移至第一个子元素，即<a>元素，
                        // 然后从中提取文本，这就是在网址中要使用的用户名
                        // 使用 这句 elem.first().text().trim()就可以得到了
                        // 直接在JavaScript端构建URL时，我无法使用Flask中的url_for()
                        if ("{{ current_user.is_anonymous  }}" === "True") { // 没有登录就不弹窗
                            return;
                        }
                        xhr = $.ajax('/user/' + elem.first().text().trim() + '/popup').done( //这里写请求完成的回调函数
                            function (data) {//请求完成的回调函数，在这里创建弹出窗口
                                xhr = null;
                                // popover()调用创建了一个弹窗组件，该组件也具有一个名为popover()的方法来显示弹窗。
                                // 因此我不得不添加第二个popover('show')调用来将弹窗显示到页面中。
                                elem.popover({//创建弹窗
                                    trigger: 'manual',
                                    html: true,
                                    animation: false,
                                    container: elem,
                                    content: data
                                }).popover('show');
                                //当通过Ajax添加新的Flask-Moment元素时，需要调用flask_moment_render_all()函数来适当地渲染这些元素。
                                flask_moment_render_all();
                            }
                        );
                    }, 1000);
                },
                function (event) { /* fnOut参数是一个回调函数 表示鼠标移出事件 */
                    var elem = $(event.currentTarget);
                    if (timer) { //避免之悬停了小于1秒后移开鼠标也会显示
                        clearTimeout(timer);
                        timer = null;
                    } else if (xhr) {
                        xhr.abort();
                        xhr = null; // 释放请求的内容
                    } else { //在这里销毁弹出的窗口
                        if ("{{ current_user.is_anonymous  }}" === "True") { // 没有登录就不弹窗也就不用销毁
                            return;
                        }
                        elem.popover('destroy');
                    }
                }
            );
        });
        /*
        浏览器在鼠标进入受影响的元素后立即调度悬停事件。 针对弹出行为，你只想鼠标停留在元素上一段时间才能激活，
        以防当鼠标指针短暂通过元素但不停留在元素上时出现弹出闪烁。 由于该事件不支持延迟，因此这是我需要自己实现的另一件事情。
        所以我打算在“鼠标进入”事件处理程序中添加一秒计时器：
         */
    </script>
{% endblock %}